$anim-alpha: .3;

html, body {
  animation: theme 21s linear infinite;

  &:after,
  &:before {
    content: '';
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100vw; // IE/Edge
    height: 100vh; // fallback
    width: 100vmax;
    height: 100vmax;
    // background: #2b3035;
    // background: rgba(43, 48, 53, .9);
    animation: background 90s linear infinite;
  }

  &:after {
    left: 15vw;
  }

  &:before {
    right: 15vw;
    animation-delay: -30s;
    animation-direction: reverse;
  }
}

@keyframes theme {
  0% {
    // background: #74c390;
    background: rgba(116, 195, 144, $anim-alpha);
  }

  16% {
    // background: #5dbdb6;
    background: rgba(93, 189, 182, $anim-alpha);
  }

  33% {
    // background: #59d4e1;
    background: rgba(89, 212, 225, $anim-alpha);
  }

  50% {
    // background: #51bce8;
    background: rgba(81, 188, 232, $anim-alpha);
  }

  66% {
    // background: #fa5374;
    background: rgba(250, 83, 116, $anim-alpha);
  }

  83% {
    // background: #e46653;
    background: rgba(228, 102, 83, $anim-alpha);
  }

  100% {
    // background: #74c390;
    background: rgba(116, 195, 144, $anim-alpha);
  }
}

@keyframes background {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
