@import "fonts";
@import "macchiato";


:root {
  --c-bg-primary: #1e1e27;
  --c-bg-secondary: #2c2d38;
  --c-text-primary: #fff;
  --c-text-secondary: #95a3b9;
  --c-action-primary: #2276fc;
  --c-focus-ring: #9fc4ff;
}

$body-bg: #1e1e27;
$body-color: #ffffff;

$primary: #5B9A8B;
$danger: #F7E987;
$orange: #ef9530;

$theme-colors: (
  "primary": $primary,
  "warning": $orange,
  "danger": $danger
);

@import "bootstrap/scss/bootstrap";

body {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

a, .nav-link {
  text-decoration: none;
  transition: all 750ms ease;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show,
a:hover, .nav-link:hover, .active {
  color: $danger;
}

.bg-25 {
  background-color: rgba(30, 30, 39, 0.25);
}

.bg-50 {
  background-color: rgba(30, 30, 39, 0.5);
}

.bg-75 {
  background-color: rgba(30, 30, 39, 0.75);
}
